<div class="main_section panel" id="main_map_section">
  <h3>Map</h3>

  <div id="map-container" class="panel_contents">
    <div id="map_canvas" style="width:870px; height:400px;"></div>
  </div>
</div>

<div class="main_section panel" id="main_locations_section">
  <h3>Locations</h3>

  <div id="location-list" class="panel_contents">

  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyAQr_tEegteAJSxNhTnKkWji82ANltfK-s"></script>
<script type="text/javascript">
  var poly;
  var map;
  var polyOptions = {
    strokeColor:'#000000',
    strokeOpacity:1.0,
    strokeWeight:3
  };

  var routeMarkers = new Array();

  function handleError(error) {
    alert('Error: ' + error.message + ' (' + error.code + ')');
  }

  function locationFound(position) {
    // Center map on your location ...
    mapCenter = new google.maps.LatLng(position.coords.latitude,
        position.coords.longitude);
    map.setCenter(mapCenter);
    // ... add new marker at map's center ...
    marker = new google.maps.Marker(
        { position:mapCenter,
          map:map, title:"Your position" });
  }

  function addLatLng(event) {

    var path = poly.getPath();

    // Because path is an MVCArray, we can simply append a new coordinate
    // and it will automatically appear

    $.post('<%= route_locations_url(@route) %>', { location:{ lat:event.latLng.lat(), lng:event.latLng.lng() }},
        function (data) {
          if (data == "ok") {
            path.push(event.latLng);
            reloadLocations();
          }
        });
  }

  function removePolygon() {
    poly.setMap(null);
    var original_length = routeMarkers.length;
    for (var i = 0; i < original_length; i = i + 1) {
      routeMarkers.pop().setMap(null);
    }
  }

  function resetPolygon() {
    poly = new google.maps.Polyline(polyOptions);
    poly.setMap(map);
  }

  function loadLocations() {
  <% @route.locations.each do |location| %>
    var path = poly.getPath();
    var loc = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
    path.push(loc);
  <% if location.vstop %>
    var marker = new google.maps.Marker({
      position:loc,
      title:'#' + path.getLength(),
      map:map
    });
    routeMarkers.push(marker);
  <% end %>
  <% end %>
  }

  function reloadLocations() {
    $.get('<%= route_locations_url(@route) %>', function (data) {
      $('#location-list').html(data);
    });
  }

  function initialize() {
    var myOptions = {
      zoom:14,
      center:new google.maps.LatLng(-34.397, 150.644),
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map_canvas'),
        myOptions);

    resetPolygon();

    google.maps.event.addListener(map, 'click', addLatLng);

    resetPolygon();
    loadLocations();
    reloadLocations();

    if (navigator.geolocation) {
      // ... ask for current position ...
      navigator.geolocation.getCurrentPosition(locationFound,
          handleError);
    } else {
      alert("Geolocation not available");
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $().ready(function () {
    $("#map_canvas").css('width', $("#map-container").width());
    $(window).on('resize', function () {
      $("#map_canvas").css('width', $("#map-container").width());
    });
  });


</script>