<div id="route_details" class="span8 well alert alert-info"></div>
<div id="map_canvas" style="width:870px; height:600px; margin-bottom: 25px;"></div>

<% content_for :sidebar do %>
  <div id="vstops-nearby">

  </div>
  <div id="helper-texts" class="span3">
    <% case rand(4) %>
    <% when 0 %>
      <div class="well alert alert-success">
        Kliknij dwa razy na mapie, by szukać przystanków w okolicy.
      </div>
    <% when 1 %>
      <div class="well alert alert-success">
        Kliknij w ikonę przystanku, aby zobaczyć całą trasę.
      </div>
    <% when 2 %>
      <div class="well alert alert-success">
        Najedź kursorem myszki nad nazwę trasy, aby zobaczyć rozkład jazdy.
      </div>
    <% when 3 %>
      <div class="well alert alert-success">
        Jesli nie widzisz żadnych wyników spróbuj powiększyć widok mapki kółkiem myszki.
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&key=AIzaSyAQr_tEegteAJSxNhTnKkWji82ANltfK-s"></script>
  <script type="text/javascript">
    var map;
    var lookupMarker;
    function handleError(error) {
      alert('Error: ' + error.message + ' (' + error.code + ')');
    }

    function locationFound(position) {
      // Center map on your location ...
      mapCenter = new google.maps.LatLng(position.coords.latitude,
          position.coords.longitude);
      map.setCenter(mapCenter);
      // ... add new marker at map's center ...
      lookupMarker = new google.maps.Marker(
          { position:mapCenter,
            map:map, title:"Your position", icon:'<%= asset_path("icon13.png") %>' });

      lookupNearbyLocations(mapCenter);

    }

    function lookupNearbyLocations(point) {
      $.post('<%= nearby_url %>', { location:{ lat:point.lat(), lng:point.lng() } },
          function (data) {
            $("#vstops-nearby").html(data);
          });

    }

    function changeLookupPosition(event) {
      lookupMarker.position = event.latLng;
      lookupMarker.setMap(null);
      lookupMarker.setMap(map);
      removeHomeMarkers();
      lookupNearbyLocations(event.latLng);
    }

    function initialize() {
      var myOptions = {
        zoom:14,
        center:new google.maps.LatLng(-34.397, 150.644),
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map_canvas'),
          myOptions);
      map.disableDoubleClickZoom = true;
      var error;

      google.maps.event.addListener(map, 'dblclick', changeLookupPosition);

      if (navigator.geolocation) {
        // ... ask for current position ...
        navigator.geolocation.getCurrentPosition(locationFound,
            handleError);
      } else {
        alert("Geolocation not available");
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end %>