<div class="well sidebar-nav location-panel">
  <div class="location-panel" id="<%= dom_id(@location, :nearby) %>">
    <h3><%= @location.name %></h3>
    <ul class="nav nav-list">
      <% @routes.each do |route| %>
        <li class="nav-header"><%= route.name %></li>
        <li><%= @location.departing_soon(route) %></li>
      <% end %>
    </ul>
  </div>
</div>


